<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Archetype Created Web Application</display-name>
    <icon>
        <large-icon>/img/library.jpg</large-icon>
    </icon>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/jsp/errorpage/serverError.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/errorpage/pageNotFound.jsp</location>
    </error-page>

    <error-page>

        <exception-type>com.epam.library.model.service.ServiceException</exception-type>
        <location>/jsp/errorpage/pageNotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/errorpage/serverError.jsp</location>
    </error-page>


    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.epam.library.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <scripting-invalid>false</scripting-invalid>
        </jsp-property-group>
    </jsp-config>


</web-app>
