* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {

    background-color: #f2f2f2;
}

/* mainRow */
.mainRow {
    height: auto;
    background-color: aqua;
    clear: both;

}

.epamImage,
.epamText {
    float: left;
    width: 50%;
    padding: 15px;

}

.epamImage img {
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    height: 50%;
}

.epamText {
    vertical-align: middle;
}

.secondRow {
    clear: both;
}

.columnTwo {
    float: left;
    width: 33.33%;
    padding: 15px;
}

@media screen and (max-width: 700px) {

    .epamImage,
    .epamText,
    .columnTwo {
        width: 100%;
    }
}